@import "reset.styl"
@import "animation.styl"
@import "transitions.styl"
@import "colors.styl"
@import "fonts.styl"
@import "mixins.styl"

body, html
  width 100%
  height 100%

body
  background BG

#wrap
  padding 20px 10px 10px
  min-width 300px
  max-width 1004px
  margin 0 auto
  color TEXT
  
  #header
    display inline-block
    margin-bottom 10px
    h1
      display inline-block
      a
        font-family 'Open Sans Condensed', sans-serif
        color GREEN
        text-transform uppercase
        font-size 30px
        text-decoration none

    h2
      font-family 'Open Sans Condensed', sans-serif
      color GRAY
      text-transform uppercase
      font-size 16.7px
      margin-top 5px

    ul
      display inline-block
      li
        display inline-block
        margin-left 10px

        a
          font-family 'Open Sans Condensed', sans-serif
          color GRAY
          text-transform uppercase
          font-size 12px
          text-decoration none
          
          &.active
            color WHITE

  #search-music-directive
    display inline-block
    input
      margin 0
      background BG
      border 1px solid DGRAY
      color GRAY
      width 180px
      padding 5px 10px
      outline none

    *::-webkit-input-placeholder
      color DGRAY

    *:-moz-placeholder
      color DGRAY

    *::-moz-placeholder
      color DGRAY

    *:-ms-input-placeholder
      color DGRAY

    ul
      margin 15px -10px 0
      li
        position relative
        overflow hidden
        display inline-block
        margin 12px

        img
          width 180px
          height 180px

        .info
          position absolute
          top 0
          left 0
          width 100%
          height 100%

          &:hover
            background rgba(18,19,20, .9)

  #footer
    position fixed
    padding 10px 0
    bottom 0
    background BG
    width 100%

    p
      font-family 'Open Sans Condensed', sans-serif
      color GRAY
      text-transform uppercase
      font-size 12px

  #home
    padding-bottom 15px