@import "reset.styl"
@import "animation.styl"
@import "transitions.styl"
@import "colors.styl"
@import "fonts.styl"
@import "mixins.styl"

body
	background BG

#wrap
	padding 20px 10px
	min-width 300px
	max-width 1004px
	margin 0 auto
	color TEXT
	
	#header
		h1
			display inline-block
			a
				font-family 'Open Sans Condensed', sans-serif
				color GREEN
				text-transform uppercase
				font-size 30px
				text-decoration none

		ul
			display inline-block
			li
				display inline-block
				margin-left 10px

				a
					font-family 'Open Sans Condensed', sans-serif
					color TEXT
					text-transform uppercase
					font-size 12px
					text-decoration none