@import "reset.styl"
@import "animation.styl"
@import "transitions.styl"
@import "colors.styl"
@import "fonts.styl"
@import "mixins.styl"

body, html
  width 100%
  height 100%

body
  background BG
  width 100%
  height 100%
  display table

  *::-webkit-input-placeholder
      color DGRAY

  *:-moz-placeholder
    color DGRAY

  *::-moz-placeholder
    color DGRAY

  *:-ms-input-placeholder
    color DGRAY

#wrap
  padding 20px 10px 10px
  min-width 300px
  max-width 1004px
  margin 0 auto
  color TEXT
  position relative
  display table-cell
  vertical-align middle
  
  #header
    text-align center
    margin-bottom 10px
    h1
      display inline-block
      a
        font-family 'Open Sans Condensed', sans-serif
        color GREEN
        text-transform uppercase
        font-size 36px
        text-decoration none

    h2
      font-family 'Open Sans Condensed', sans-serif
      color GRAY
      text-transform uppercase
      font-size 24px
      margin-top 10px

    ul
      display inline-block
      li
        display inline-block
        margin-left 10px

        a
          font-family 'Open Sans Condensed', sans-serif
          color GRAY
          text-transform uppercase
          font-size 12px
          text-decoration none
          
          &.active
            color WHITE

  #search-music-directive
    display block
    margin 0 auto
    text-align center

    input
      background BG
      border 1px solid DGRAY
      color GRAY
      width 270px
      padding 5px 10px
      outline none

    > ul
      margin 15px -10px 0
      > li
        position relative
        overflow hidden
        display inline-block
        margin 12px

        img
          width 180px
          height 180px

        .info
          cursor default
          position absolute
          top 0
          left 0
          width 100%
          height 140px
          background rgba(18,19,20, .95)
          padding 20px 0
          transition background 0.5s ease;

          &:hover
            background rgba(18,19,20, .98)

            .track
              right 100%

            .options
              right 0

          .track
            width 100%
            height 100%
            display table
            position absolute
            right 0
            transition right 0.5s ease;

            .text
              display table-cell
              vertical-align middle

              h3, p
                text-align center
                padding 0 10px
                font-family 'Open Sans Condensed', sans-serif
                color GRAY
                text-transform uppercase
                font-size 12px
                text-decoration none

              h3
                padding 5px 10px

          .options
            width 100%
            height 100%
            display table
            position relative
            right -100%
            top 0
            transition right 0.5s ease;

            div
              display table-cell
              vertical-align middle

              h4
                padding-bottom 15px
                text-align center
                font-family 'Open Sans Condensed', sans-serif
                color GREEN
                text-transform uppercase
                font-size 14px
                text-decoration none
                display block
              ul
                overflow auto
                max-height 80%

                li
                  a
                    cursor pointer
                    text-align center
                    padding 2px 0
                    font-family 'Open Sans Condensed', sans-serif
                    color GRAY
                    text-transform uppercase
                    font-size 12px
                    text-decoration none
                    display block

                    &:hover
                      color WHITE

                    &.active
                      pointer-events none
                      cursor default
                      color GREEN !important

  #home
    padding-bottom 15px

  #modal_playlist
    position fixed
    top 0
    left 0
    width 100%
    height 100%

    .mask
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      background rgba(0,0,0, .85)

    .content
      position absolute
      top 50%
      left 50%
      margin -75px 0 0 -160px
      width 320px
      height 160px
      background BG
      border 1px solid DGRAY
      .centralize
        width 280px
        padding 5px 10px
        margin 0 auto

        form
          padding-top 10px
          fieldset
            padding-bottom 10px

            label
              font-family 'Open Sans Condensed', sans-serif
              color GRAY
              text-transform uppercase
              font-size 12px
              text-align center
            input
              background BG
              border 1px solid DGRAY
              color GRAY
              width 100%
              outline none
              padding 5px 10px
              box-sizing border-box
            button, a
              background GREEN
              border none
              color WHITE
              cursor pointer
              font-family 'Open Sans Condensed', sans-serif
              text-transform uppercase
              font-size 14px
              margin 0 10px 0 0
              padding 0 10px 1px 10px

            a
              background DGRAY
              color GRAY
              padding 1px 10px