ul
  li(ng-repeat="playlist in playlists")
    h3 
      | {{playlist.name}} <br />
      span Duration: {{playlist.duration | timeConversion}} <br />
      span Coolness: {{playlist.coolness}} <br />
      span Tags: {{playlist.tags}}

    ul.tracks
      li(ng-repeat="track in playlist.tracks | orderBy:predicate")
        img(ng-src="{{track.album.images[2].url}}")
        div.info
          h3 {{track.name}}
          p {{track.artists[0].name}}
          p(ng-if="track.duration_ms") Order: {{track.order }}
          p(ng-if="track.duration_ms") Duration: {{track.duration_ms | timeConversion }}
          p(ng-if="track.popularity") Popularity: {{track.popularity}}
          a(ng-click="remove_from_playlist(track, playlist)") Remove from playlist

          ul
            li
              a(ng-click="order(track, playlist, 'up')") Up
            li
              a(ng-click="order(track, playlist, 'down')") Down