#search-music-directive
  form
    fieldset
      input(type="text", placeholder="Ex: The Trooper")

  ul.tracks(ng-if="tracks.items.length")
    li(ng-repeat="track in tracks.items")
      img(ng-src="{{track.album.images[1].url}}")
      div.info(onclick="")
        .track
          .text
            h3 {{track.name}}
            p {{track.artists[0].name}}
        .options(onclick="")
          div
            h4 Add to playlist
            ul
              li
                a(ng-click="create_playlist(track)") Create a new playlist
              li(ng-repeat="playlist in playlists | orderBy:'name'")
                a(ng-click="add_to_playlist(track, playlist)", ng-class="{active : verify_music(track, playlist)}") {{playlist.name}}
